@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body
{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: rgb(32, 32, 32);
}

button
{
    background-color: rgb(230, 236, 236);
    color: black;
    font-family: 'Poppins', sans-serif;
    border: none;
    padding: 50px;
    text-align: center;
    font-size: 17px;
    margin: 20px 4px;
    border-radius: 8px;
    
}

button:hover
{
    color: white;
    background-color: blueviolet;
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
    border: none;
}

h1
{
    color: white;
    font-size: 40px;
    margin-top: 160px;
}
